/* Most of these styles could be removed but are for the demo to look better */
/* test*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-weight: 300;
}
body {
  overflow-x: hidden;
}

a {
  color: white;
}

h1,
h2 {
  text-align: center;
}

.full-screen {
  display: block;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#masthead {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 9999;
}
#masthead a {
  padding: 1rem 2rem;
}

#panels #panels-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 0;
  overflow: hidden;
  background-color: #ddd;
}
#panels #panels-container .panel {
  position: relative;
  min-width: min-content;
  height: auto;
  /* overflow: hidden; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333;
  text-align: left;
 
}
/* #panels #panels-container .panel img {
  max-width: 100%;
  height: auto;
  display: block;
} */
#panels #panels-container .panel .panels-navigation {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
/* #panels #panels-container .panel .anchor-panel,
#panels #panels-container .panel .nav-panel {
  color: #000;
  text-transform: uppercase;
  margin-right: 2rem;
}
#panels #panels-container .panels-navigation {
  position: absolute;
  width: 100%;
  bottom: 2rem;
  right: 2rem;
}
.cards-wrapper {
  display: flex;
}
.card {
  width: 600px;
}

#panel-5 {
  width: unset;
  flex: 1 0 auto;
} */
.bob{
  width: 100vw;
  height: 100vh;
  top: 45%;
  left: 5%;
  position: fixed;
  z-index: 100000000000000000000000000000000000;
}


@font-face {
  font-family: 'Miso';
  src: url('../fonts/miso-regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nexus';
  src: url('../fonts/nexusbold-regular.otf');
  font-weight: normal;
  font-style: normal;
}

.fontbase{
  font-family: 'Miso';
  line-height: 0.8;
}

.fontnumber{
  font-family: 'Nexus';
  line-height: 0.8;
}

.joconde{
  position: absolute; top: 15.7rem; left: 84.2rem
}

.data_first--number{
    
  font-size: 30em;
}

.data_first{
  display: flex;
  flex-direction: row;
  position: absolute;
  gap: 1rem;
  color: #B73E4A;
  margin-left: 33rem;
  margin-top: 2rem;
}
.data_first--info{
font-size: 7rem;
margin-top: 5rem;
}


.typewritter{
  display: flex;
  /* justify-content: center; */
  
}

.typewritter p{
  overflow: hidden;
  /* margin-inline: auto; */
  white-space: nowrap;
  animation: typing 2s steps(20) forwards, blink 1s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent; }
}